extends ../layout.pug

block title
  | Add Instructor to #{event.title}

block content

  p.text-center
    a(href=`/events/${event.id}`)
      i.ti-arrow-left.mr-2
      | Back to event

  .row
    .col-sm-8.offset-sm-2
      .card
        - instructorLabel = event.category === 'meetup' ? 'Host' : 'Instructor'
        .header
          h1.title Add #{instructorLabel}
        .content
          p This person will be notified that they are the #{instructorLabel.toLowerCase()} of this event and will get reminders about the event and have access to the attendee list.
          form(action=`/events/${event.id}/instructors` method='post')
            .form-group
              select.form-control.mt-3(name='instructor')
                - instructorIds = instructors.map((i) => i.userId)
                for user in users
                  option(value=user.id disabled=instructorIds.includes(user.id))= user.name
            p.mt-5
              button.btn.btn-success.btn.lg.btn-block(type='submit')
                i.ti-plus.mr-3
                | Add #{instructorLabel}
