html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title
      block title
        = title
      = ' - '
      = config.APP_NAME
    link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,900' rel='stylesheet')
    link(href='/frontend.css'  rel='stylesheet' type='text/css')
  body

    block page
      .wrapper
        .sidebar(data-background-color='black' data-active-color='success')
          .sidebar-wrapper
            .logo
              a.simple-text(href='/')
                = config.APP_NAME

            ul.nav.flex-column
              if currentUser && currentUser.staff
                li.nav-item(class=(section === 'dashboard' ? 'active' : ''))
                  a.nav-link(href='/')
                    i.ti-dashboard
                    | Dashboard

              li.nav-item(class=(section === 'events' ? 'active' : ''))
                a.nav-link(href='/events')
                  i.ti-calendar
                  | Events

              if currentUser && currentUser.staff
                li.nav-item(class=(section === 'users' ? 'active' : ''))
                  a.nav-link(href='/users')
                    i.ti-user
                    | Members
                li.nav-item(class=(section === 'checkins' ? 'active' : ''))
                  a.nav-link.disabled(href='#')
                    i.ti-key
                    | Checkins
                li.nav-item(class=(section === 'reports' ? 'active' : ''))
                  a.nav-link.disabled(href='#')
                    i.ti-bar-chart
                    | Reports
                li.nav-item(class=(section === 'activities' ? 'active' : ''))
                  a.nav-link(href='/activities')
                    i.ti-menu
                    | Activities

            hr
            ul.nav.flex-column
              if !currentUser
                li.nav-item
                  a.nav-link(href=`/auth/login?redirect=${currentUrl}`)
                    i.ti-lock
                    | Login
              else
                li.nav-item
                  a.nav-link(href=`/auth/logout?redirect=${currentUrl}`)
                    i.ti-power-off
                    | Logout
        .main-panel
          .container-fluid
            .navbar.navbar-default
              .navbar-head
                if currentUser && section === 'events'
                  a.float-right.btn.btn-success.btn-lg(href='/events/new')
                    i.ti-plus.mr-2
                    | Create Event
                h1.navbar-brand.text-capitalize= section
          .content.mb-5
            .container-fluid
              for type in ['success', 'info', 'warning', 'danger']
                if messages && messages[type]
                  .alert.fade_in(class=`alert-${type}` role='alert').mb-3
                    if type === 'success'
                      i.fa.fa-check.pr-1
                    if type === 'danger'
                      i.fa.fa-times.pr-1
                    if type === 'warning'
                      i.fa.fa-exclamation-triangle.pr-1
                    if type === 'info'
                      i.fa.fa-info-circle.pr-1
                    = messages[type]
                    if messages.link
                      | &nbsp;
                      a(href=messages.link[1])= messages.link[0]

              block content

            footer.footer.bg-faded.fixed-bottom.pt-3.pb-3
              .container-fluid
                .row
                  .col-9
                    a.btn.btn-primary.btn-sm(href=`mailto:${config.DEFAULT_FROM_ADDRESS}`)
                      i.ti-email.mr-3
                      | Contact Us
                  .col-3.text-right.mt-2
                    small
                      | &copy; 2017
                      = ' '
                      = config.APP_NAME

    script(src='/frontend.js')

    block scripts

    //if env.NODE_ENV === 'production'
      //script.
        //(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          //(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          //m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        //})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        //ga('create', 'UA-81456639-2', 'auto');
        //ga('send', 'pageview');

