html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title
      block title
        = title
      = ' - '
      = config.APP_NAME
    link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,900' rel='stylesheet')
    link(href='/frontend.css'  rel='stylesheet' type='text/css')
  body

    block page
      .navbar.navbar-toggleable-md
        .container
          a.navbar-brand(href='/')= config.APP_NAME

          .navbar-collapse
            nav.navbar-nav.mr-auto
              if currentUser && currentUser.staff
                a.nav-item.nav-link(class=(section === 'dashboard' ? 'active' : '') href='/')
                  i.ti-dashboard.mr-2
                  | Dashboard
              a.nav-item.nav-link(class=(section === 'events' ? 'active' : '') href='/events')
                i.ti-calendar.mr-2
                | Events
              if currentUser && currentUser.staff
                a.nav-item.nav-link(class=(section === 'users' ? 'active' : '') href='/users')
                  i.ti-user.mr-2
                  | People
                a.nav-item.nav-link(class=(section === 'charges' ? 'active' : '') href='/charges')
                  i.ti-money.mr-2
                  | Charges
                a.nav-item.nav-link.disabled(class=(section === 'checkins' ? 'active' : '') href='#')
                  i.ti-key.mr-2
                  | Checkins
                a.nav-item.nav-link.disabled(class=(section === 'reports' ? 'active' : '') href='#')
                  i.ti-bar-chart.mr-2
                  | Reports
                a.nav-item.nav-link(class=(section === 'activities' ? 'active' : '') href='/activities')
                  i.ti-menu.mr-2
                  | Activities

            nav.navbar-nav
              if !currentUser
                a.nav-item.nav-link(href=`/auth/login?redirect=${currentUrl}`)
                  i.ti-lock.mr-2
                  | Login
              else
                a.nav-item.nav-link(href=`/auth/logout?redirect=${currentUrl}`)
                  i.ti-power-off.mr-2
                  | Logout

      .page
        .container

          for type in ['success', 'info', 'warning', 'danger']
            if messages && messages[type]
              .alert.fade_in(class=`alert-${type}` role='alert').mb-3
                if type === 'success'
                  i.fa.fa-check.pr-1
                if type === 'danger'
                  i.fa.fa-times.pr-1
                if type === 'warning'
                  i.fa.fa-exclamation-triangle.pr-1
                if type === 'info'
                  i.fa.fa-info-circle.pr-1
                = messages[type]
                if messages.link
                  | &nbsp;
                  a(href=messages.link[1])= messages.link[0]

          .mb-5
            block content

          footer.footer.my-5.py-5
            .container-fluid
              .text-center
                a.btn.btn-outline-primary.btn-sm(href=`mailto:${config.DEFAULT_FROM_ADDRESS}`)
                  i.ti-email.mr-3
                  | Contact Us
                small.ml-4
                  | &copy; 2017
                  = ' '
                  = config.APP_NAME

    script(src='/frontend.js')

    block scripts

    //if env.NODE_ENV === 'production'
      //script.
        //(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          //(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          //m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        //})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        //ga('create', 'UA-81456639-2', 'auto');
        //ga('send', 'pageview');

