extends ../layout.pug

block title
  | Charges

block content
  if currentUser && currentUser.staff
    .float-right
      a.btn.btn-success.btn-sm(href='/charges/new')
        i.ti-plus.mr-2
        | Add Charge

  if charges && charges.length
    h1.page-heading Charges
    table.table
      thead
        tr
          th
          th User
          th Type
          th Amount
          th Memo
          th Created At
      tbody
          for charge in charges
            tr
              td
                strong
                  a(href=charge.url) ##{charge.id}
              td
                img.rounded-circle.mr-3(src=charge.user.avatarUrl(20))
                a(href=charge.url)
                  = charge.user.name
              td.text-success
                include ./_type-display.pug
              td
                | $
                = charge.amountDollars
              td= charge.memo
              td= moment(charge.createdAt).fromNow()
  else
    p.text-muted No charges yet
