extends ../layout.pug

block scripts
  script(src='https://checkout.stripe.com/checkout.js')
  script.
    var form = document.getElementById('checkout-form')
    var tokenField = document.getElementById('stripe-token')
    var emailField = document.getElementById('email')
    var handler = StripeCheckout.configure({
      key: '#{config.STRIPE_PUBLIC_KEY}',
      //image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
      locale: 'auto',
      token: function(token) {
        console.log('token', token)
        tokenField.value = token.id
        emailField.value = token.email
        form.submit()
      },
    })
    form.addEventListener('submit', function(form) {
      form.preventDefault()
      handler.open({
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        name: '#{event.title}',
        description: 'Pay for one attendee',
        email: '#{currentUser ? currentUser.email : ''}',
        amount: #{currentUser && event.memberPrice ? event.memberPrice : event.price},
      })
    })

block title
  | Attend #{event.title}

block content

  p.text-center
    a(href=`/events/${event.id}`)
      i.ti-arrow-left.mr-2
      | Back to event

  .row
    .col-md-6.offset-md-3
      .card
        .header.text-center
          h1.title Attend #{event.title}
          h5.category.mt-2= event.dateRange
        .content.text-center

          if !currentUser && event.price && event.memberPrice
            p
              | If you're a Chimera member,
              = ' '
              a(href=`/auth/login?redirect=${currentUrl}`) please login
              = ' '
              | to apply your member discount.
          h1
            if !event.price
              | Free!
            else if currentUser && event.memberPrice
              small Member Price
              br
              | $
              = event.memberPriceDollars
            else if event.price
              small Non-Member Price
              br
              | $
              = event.priceDollars
          if event.materialFee
            p.mt-5.text-muted
              strong Material Fee:
              br
              | Remeber to bring cash or a check for <em>$#{event.materialFeeDollars}</em> on the day of the event.
          p.mt-5
            form#checkout-form(action=`${event.url}/purchase` method='post')
              // TODO: signup on meetup if a meetup
              input#stripe-token(name='token' type='hidden')
              input#email(name='email' type='hidden')
              button.btn.btn-success.btn-lg.btn-block(type='submit')
                if !event.price
                  | Attend for Free!
                else
                  | Pay $#{currentUser && event.memberPrice ? event.memberPriceDollars : event.priceDollars} Now
                i.ti-arrow-right.ml-2
