extends ../layout.pug

block title
  | Attend #{event.title}

block content

  p.text-center
    a(href=`/events/${event.id}`)
      i.ti-arrow-left.mr-2
      | Back to event

  .row
    .col-sm-6.offset-sm-3
      .card
        .header.text-center
          h1.title Attend #{event.title}
          h5.category.mt-2= event.dateRange
        .content.text-center

          if !currentUser && event.price && event.memberPrice
            p
              | If you're a Chimera member,
              = ' '
              a(href=`/auth/login?redirect=${currentUrl}`) please login
              = ' '
              | to apply your member discount.
          h1
            if !event.price
              | Free!
            else if currentUser && event.memberPrice
              small Member Price
              br
              | $
              = event.memberPriceDollars
            else if event.price
              small Non-Member Price
              br
              | $
              = event.priceDollars
          if event.materialFee
            p.mt-5.text-muted
              strong Material Fee:
              br
              | Remeber to bring cash or a check for <em>$#{event.materialFeeDollars}</em> on the day of the event.
          p.mt-5
            form(action=`/events/${event.id}/attend` method='post')
              button.btn.btn-success.btn-lg.btn-block(type='submit')
                if !event.price
                  | Attend for Free!
                else
                  | Pay $#{event.memberPrice ? event.memberPriceDollars : event.priceDollars} Now
                i.ti-arrow-right.ml-2
