extends ../layout.pug

block title
  = event.title

block content
  p
    a(href='/events') ← Back to events

  .row



    //--------------------------------------------------
    // Event details
    //--------------------------------------------------
    .col-lg-9
      .card
        .header
          if currentUser && currentUser.staff
            .float-right
              a.btn.btn-outline-primary.btn-sm(href=`${event.url}/edit`)
                i.ti-pencil.mr-3
                | Edit
              if !event.cancelled
                a.btn.btn-outline-danger.btn-sm.ml-4(href=`${event.url}/cancel`)
                  i.ti-close.mr-2
                  | Cancel
          div
            if event.cancelled
              span.badge.badge-danger.mr-3 CANCELLED
            if event.draft
              span.badge.badge-warning.mr-3 DRAFT
            span.text-muted
              span.mr-3.text-uppercase= event.category
              if currentUser && currentUser.staff
                if event.visibility === 'public'
                  i.ti-world(title='Public')
                else
                  i.ti-user(title='Internal (Member-Only)')
          h1.title= event.title
          h5.category.mt-2= event.dateRange

        .content

          p
            strong Attendee Limit:
            = ' '
            =event.attendeeLimit

          div
            != event.descriptionHtml



      //--------------------------------------------------
      // Instructors
      //--------------------------------------------------
      .card
        .header
          if currentUser && currentUser.staff
            .float-right
              a.btn.btn-outline-primary.btn-sm(href=`${event.url}/instructors/new`)
                i.ti-plus.mr-2
                if event.category === 'meetup'
                  | Add Host
                else
                  | Add Instructor
          h4.title.text-info
            i.ti-book.mr-3
            if event.category === 'meetup'
              | Hosts
            else
              | Instructors
        .content
          if instructors && instructors.length
            ul.list-unstyled
              for user in instructors
                li.mb-3
                  .row
                    .col-1
                      img.rounded-circle(src=user.avatarUrl(50) width=50 height=50)
                    .col-8.pl-5
                      if currentUser && currentUser.staff
                        strong
                          a(href=user.url)= user.name
                        br
                        small.text-muted
                          a(href=`mailto:${user.email}`)= user.email
                      else
                        strong= user.name
                    .col-3.text-right
                      if currentUser && currentUser.staff
                        form(action=`/events/${event.id}/instructors/${user.id}/remove` method='post')
                          button.btn.btn-outline-danger.btn-sm(type='submit')
                            i.ti-close.mr-2
                            | Remove
          else
            p
              em There are no instructors for this event.



    //--------------------------------------------------
    // Pricing sidebar
    //--------------------------------------------------
    .col-lg-3
      .text-center
        if event.price
          if event.price && event.memberPrice
            h1.mt-0(style=(currentUser ? 'text-decoration: line-through' : ''))
              | $
              = event.priceDollars
            p
              small.text-muted for non-members
            h1.mt-0(style=(currentUser ? '' : 'text-decoration: line-through'))
              | $
              = event.memberPriceDollars
            p
              small.text-muted for members
          else
            h1.mt-0
              | $
              = event.priceDollars
            p
              small.text-muted per attendee
        else
          h1.mt-0 Free!
        if event.materialFee
          p
            em Material fee $#{event.materialFeeDollars}*
        p
          a.btn.btn-success.btn-lg.btn-inverse.btn-block(href=`${event.url}/attend`)
            i.ti-plus.mr-2
            span.text-capitalize Attend #{event.category}
        if event.materialFee
          p.mt-5
            small * Material fees are due on the day of the event and are payable directly to the instructor via cash or check.



  //--------------------------------------------------
  // Admin panels
  //--------------------------------------------------
  if currentUser && currentUser.staff



    //--------------------------------------------------
    // Attendees
    //--------------------------------------------------
    .card
      .header
        .float-right
          a.btn.btn-outline-primary.btn-sm(href=`${event.url}/attendees/new`)
            i.ti-plus.mr-2
            | Add Attendee
        h4.title.text-success
          i.ti-user.mr-3
          | Attendees
      .content
        ul.list-unstyled
          for attendee in attendees
            - transaction = attendee.transaction
            li.mb-3
              .row
                .col-1
                  .avatar
                    img(src=attendee.user.avatarUrl(50) width=50 height=50)
                .col-3
                  strong
                    a(href=attendee.user.url)= attendee.user.name
                  br
                  small.text-muted Dabbler
                .col-5
                  a(href=transaction.url)
                    small.text-success.text-uppercase(title='Paid via cash')
                      - type = transaction.type
                      if type === 'card'
                        i.fa.fa-credit-card.mr-2
                        = type
                        span.text-muted.ml-2 **** **** **** #{transaction.lastFour}
                      if type === 'check'
                        i.fa.fa-list-alt.mr-2
                        = type
                        span.text-muted.ml-2 ##{transaction.checkNumber}
                      if type === 'cash'
                        i.fa.fa-money.mr-2
                        = type
                      if type === 'other'
                        i.fa.fa-question-circl-o.mr-2
                        = type
                  if transaction.memo
                    br
                    small.text-muted= transaction.memo

                .col-3.text-right
                  .btn-group
                    a.btn.btn-outline-primary.btn-sm(href=attendee.url)
                      i.ti-eye.mr-2
                      | View
                    a.btn.btn-outline-danger.btn-sm(href=`${attendee.url}/refund`)
                      i.ti-close.mr-2
                      | Refund



    //--------------------------------------------------
    // Recent changes
    //--------------------------------------------------
    .card
      .header
        h4.title.text-info
          i.ti-time.mr-3
          | Recent Changes
      .content
        include ../activities/_inline-list.pug
