extends ../layout.pug

block title
  = event.title

block content
  p
    a(href='/events') ← Back to events

  .row



    //--------------------------------------------------
    // Event details
    //--------------------------------------------------
    .col-lg-9
      .card
        .header
          if currentUser && currentUser.staff
            .float-right
              a.btn.btn-outline-primary.btn-sm(href=`/events/${event.id}/edit`)
                i.ti-pencil.mr-3
                | Edit
              a.btn.btn-outline-danger.btn-sm.ml-4(href=`/events/${event.id}/cancel`)
                i.ti-close.mr-2
                | Cancel
          div
            if event.draft
              span.badge.badge-warning.mr-3 DRAFT
            span.text-muted
              span.mr-3.text-uppercase= event.category
              if currentUser && currentUser.staff
                if event.visibility === 'public'
                  i.ti-world(title='Public')
                else
                  i.ti-user(title='Internal (Member-Only)')
          h1.title= event.title
          h5.category.mt-2= event.dateRange

        .content

          p
            strong Attendee Limit:
            = ' '
            =event.attendeeLimit

          div
            != event.descriptionHtml



      //--------------------------------------------------
      // Instructors
      //--------------------------------------------------
      .card
        .header
          if currentUser && currentUser.staff
            .float-right
              a.btn.btn-outline-primary.btn-sm(href=`/events/${event.id}/instructors/new`)
                i.ti-plus.mr-2
                | Add Instructor
          h4.title.text-info
            i.ti-book.mr-3
            | Instructors
        .content
          if instructors && instructors.length
            ul.list-unstyled
              for user in instructors
                li.mb-3
                  .row
                    .col-1
                      .avatar
                        img(src=`https://www.gravatar.com/avatar/${user.gravatarHash}?s=50` width=50 height=50)
                    .col-8.pl-5
                      if currentUser && currentUser.staff
                        strong
                          a(href=`/users/${user.id}`)= user.name
                        br
                        small.text-muted
                          a(href=`mailto:${user.email}`)= user.email
                      else
                        strong= user.name
                    .col-3.text-right
                      if currentUser && currentUser.staff
                        form(action=`/events/${event.id}/instructors/${user.id}/remove` method='post')
                          button.btn.btn-outline-danger.btn-sm(type='submit')
                            i.ti-close.mr-2
                            | Remove
          else
            p
              em There are no instructors for this event.



    //--------------------------------------------------
    // Pricing sidebar
    //--------------------------------------------------
    .col-lg-3
      .text-center
        if event.price
          if event.price && event.memberPrice
            h1.mt-0(style=(currentUser ? 'text-decoration: line-through' : ''))
              | $
              = event.priceDollars
            p
              small.text-muted for non-members
            h1.mt-0(style=(currentUser ? '' : 'text-decoration: line-through'))
              | $
              = event.memberPriceDollars
            p
              small.text-muted for members
          else
            h1.mt-0
              | $
              = event.priceDollars
            p
              small.text-muted per attendee
        else
          h1.mt-0 Free!
        if event.materialFee
          p
            em Material fee $#{event.materialFeeDollars}*
        p
          a.btn.btn-success.btn-lg.btn-inverse.btn-block(href=`/events/${event.id}/attend`)
            i.ti-plus.mr-2
            span.text-capitalize Attend #{event.category}
        if event.materialFee
          p.mt-5
            small * Material fees are due on the day of the event and are payable directly to the instructor via cash or check.



  //--------------------------------------------------
  // Admin panels
  //--------------------------------------------------
  if currentUser && currentUser.staff
    .row



      //--------------------------------------------------
      // Attendees
      //--------------------------------------------------
      .col-xl-6
        .card
          .header
            .float-right
              a.btn.btn-outline-primary.btn-sm(href=`/events/${event.id}/attendees/new`)
                i.ti-plus.mr-2
                | Add Attendee
            h4.title.text-success
              i.ti-user.mr-3
              | Attendees
          .content
            ul.list-unstyled
              li
                .row
                  .col-2
                    .avatar
                      img(src='https://yt3.ggpht.com/-68PSo29g5Yo/AAAAAAAAAAI/AAAAAAAAAAA/kvVUTsLJs7E/s100-c-k-no-mo-rj-c0xffffff/photo.jpg' width=50 height=50)
                  .col-4
                    strong
                      a(href='/members/1') John Smith
                    br
                    small.text-muted Dabbler
                  .col-3
                    small.text-success(title='Paid via cash')
                      i.fa.fa-money.mr-2
                      | Cash
                  .col-3.text-right
                    a.btn.btn-outline-danger.btn-sm(href=`/events/${event.id}/attendees/1/refund`)
                      i.ti-close.mr-2
                      | Refund
              li
                .row
                  .col-2
                    .avatar
                      img(src='https://yt3.ggpht.com/-68PSo29g5Yo/AAAAAAAAAAI/AAAAAAAAAAA/kvVUTsLJs7E/s100-c-k-no-mo-rj-c0xffffff/photo.jpg' width=50 height=50)
                  .col-4
                    strong
                      a(href='/members/1') James Dellemonico
                    br
                    small.text-muted Professional
                  .col-3
                    small.text-success(title='Paid via credit card')
                      i.fa.fa-credit-card.mr-2
                      | Card
                  .col-3.text-right
                    a.btn.btn-outline-danger.btn-sm(href=`/events/${event.id}/refund/1`)
                      i.ti-close.mr-2
                      | Refund



      //--------------------------------------------------
      // Recent changes
      //--------------------------------------------------
      .col-xl-6
        .card
          .header
            h4.title.text-info
              i.ti-time.mr-3
              | Recent Changes
          .content
            ul.list-unstyled
              li
                .row
                  .col-1.text-danger
                    i.ti-face-sad
                  .col-4
                    a(href='/users/1') Dana Woodman
                  .col-3.text-muted Cancelled
                  .col-4.text-right
                    a(href='/activities/24' title='View this activity')
                      small 3/9/17 @ 2:25pm
              li
                .row
                  .col-1.text-danger
                    i.ti-user
                  .col-4
                    a(href='/users/2') James Smith
                  .col-3.text-muted Removed
                  .col-4.text-right
                    a(href='/activities/23' title='View this activity')
                      small 3/8/17 @ 7:45pm
              li
                .row
                  .col-1.text-success
                    i.ti-user
                  .col-4
                    a(href='/users/2') James Smith
                  .col-3.text-muted Added
                  .col-4.text-right
                    a(href='/activities/18' title='View this activity')
                      small 3/8/17 @ 11:18am
              li
                .row
                  .col-1.text-info
                    i.ti-pencil
                  .col-4
                    a(href='/users/2') Deborah Chuck
                  .col-3.text-muted Edited
                  .col-4.text-right
                    a(href='/activities/16' title='View this activity')
                      small 3/7/17 @ 7:10pm
              li
                .row
                  .col-1.text-success
                    i.ti-face-smile
                  .col-4
                    a(href='/users/1') Dana Woodman
                  .col-3.text-muted Created
                  .col-4.text-right
                    a(href='/activities/10' title='View this activity')
                      small 3/5/17 @ 9:45am


